.about-container {
  background-color: #343a40; 
  color: #ffffff; 
  min-height: 100vh;
  padding: 2rem;
  font-family: 'Arial', sans-serif; 
}

.about-container p {
  font-size: 1.1rem; 
  line-height: 1.6; 
  text-align: justify; 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  max-width: 800px; 
}

img {
  border: solid white;
}