.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
  
  
}

.portfolio-container p {
  color: whitesmoke;
  background-color: #031633;
  font-size: 30px;
  width: 100%;
}

.link-primary img {
  width: 50px;
}

.link-secondary img {
  width: 40px;
}

p {
  font-family: "Caveat", cursive;
  font-size: 30px;
  
}


.img-fluid {
  border: 5px solid white;
  width: 100%;
  height: 400px;
}

h1 {
  font-family: "Caveat", cursive;
}

div {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

body {
  background-image: url("https://camo.githubusercontent.com/ce44c6d060a1a207ba496dae4c758ba0595f29f108de91ad3fddc6e185b67645/68747470733a2f2f736368616566666572732d63646e2e73332e616d617a6f6e6177732e636f6d2f696d616765732f64656661756c742d736f757263652f736368616566666572732d63646e2d696d616765732f64656661756c742d696d616765732f6368617274732f61646f626573746f636b5f3139303436333230352e6a7065673f73667672736e3d66633230646430365f342e6a7067");
  width: 100%;
}

.form-container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  background-color: #031633;
  margin-left: 25%;
  margin-top: 10%;
  padding: 10px;
  border: 5px solid white;
  
}

.resume-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid white;
  background-color: #031633;
  width: 50%;
  font-size: 30px;
  gap: 20px;
  margin-left: 25%;
  margin-top: 0;
}

.project-footer {
  background-color: #031633;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-control {
  font-size: 30px;
}

@media (max-width: 1400px) {
  .portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25%;
  }

  .form-container  {
  width: 100%;
  margin-left: 0;
  background-color: #031633;
  margin-top: 30%;
  
  
}

  .resume-container {
    width: 100%;
    margin-left: 0;
    margin-top: 25%;
  }


  .portfolio-container * {
    flex-basis: 300px;
  }

  img-fluid {
    border: 5px solid white;
    width: 75%;
    height: 80%;
  }

  form {
    width: 100%;
    margin-left: 0;
  }

  .col p {
    width: auto;
    text-align: center;
  }

  .project-footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
