
.small-image {
    width: 150px;
    height: 150px;
}

.link-primary {

display: inline-block;
margin-left: 50%;

}

.link-secondary {
margin-left: 10px;

}

p {
    font-family: 'Caveat', cursive; 
    font-size: 20px;
}

h1 {
        font-family: 'Caveat', cursive; 

}

div {
        font-family: 'Caveat', cursive; 
        font-size: 30px;

}

