.portfolio-container {
  display: flex;
  flex-direction: column;
  
}

.small-image {
  width: 150px;
  height: 150px;
}

.link-primary img {
  width: 50px;
}

.link-secondary img {
  width: 40px

}


p {
  font-family: "Caveat", cursive;
  font-size: 30px;
}
.col p {
  /* background-color: #031633; */
width: auto;
text-align: center;
}

.img-fluid {
  border: 5px solid white;
  width: 75%;
  height: 80%;
  
}

h1 {
  font-family: "Caveat", cursive;
}

div {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

body {
  background-image: url("https://camo.githubusercontent.com/ce44c6d060a1a207ba496dae4c758ba0595f29f108de91ad3fddc6e185b67645/68747470733a2f2f736368616566666572732d63646e2e73332e616d617a6f6e6177732e636f6d2f696d616765732f64656661756c742d736f757263652f736368616566666572732d63646e2d696d616765732f64656661756c742d696d616765732f6368617274732f61646f626573746f636b5f3139303436333230352e6a7065673f73667672736e3d66633230646430365f342e6a7067");
  width: 100%;
}

form {
  width:50%;
  background-color: #031633;
  margin-left: 25%;
  padding: 10px;

}



.resume-container {
  border: solid white;
  background-color: #031633;
  width: 300px;
  font-size: 30px;
}

.project-footer {
  background-color: #031633;
  display: flex;
  justify-content: center;
  gap: 10px;
}



@media (max-width: 1400px) {

  .portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25%;
    
  }

  .portfolio-container * {
    flex-basis: 300px;
  }

  img-fluid {
  border: 5px solid white;
  width: 75%;
  height: 80%;
  }

  form {
    width: 100%;
    margin-left:0;
  }

  .col p {
  
  width: auto;
  text-align: center;
  
}

.project-footer  {
 display: flex;
 justify-content: center;
 width: 100%;
}

}